<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youwin.yws.persistence.crm.CrmDataStudentDetailMapper" >
  <resultMap id="BaseResultMap" type="com.youwin.yws.models.crm.CrmDataStudentDetail" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="leads_student_id" property="leadsStudentId" jdbcType="BIGINT" />
    <result column="customer_student_id" property="customerStudentId" jdbcType="BIGINT" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="grade_id" property="gradeId" jdbcType="INTEGER" />
    <result column="belong_school_id" property="belongSchoolId" jdbcType="BIGINT" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="mother_name" property="motherName" jdbcType="VARCHAR" />
    <result column="mother_phone" property="motherPhone" jdbcType="VARCHAR" />
    <result column="father_name" property="fatherName" jdbcType="VARCHAR" />
    <result column="father_phone" property="fatherPhone" jdbcType="VARCHAR" />
    <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
    <result column="media_channel" property="mediaChannel" jdbcType="TINYINT" />
    <result column="media_channel_detail" property="mediaChannelDetail" jdbcType="TINYINT" />
    <result column="area_code" property="areaCode" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="BIT" />
    <result column="age" property="age" jdbcType="TINYINT" />
    <result column="customer_requirement" property="customerRequirement" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, leads_student_id, customer_student_id, subject_id, grade_id, belong_school_id, 
    number, name, phone, mother_name, mother_phone, father_name, father_phone, school_name, 
    media_channel, media_channel_detail, area_code, gender, age, customer_requirement, 
    type, state, create_at, create_by, update_at, update_by, is_deleted, ext
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.youwin.yws.models.crm.CrmDataStudentDetailExample" >
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from crm_data_student_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from crm_data_student_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
    -->
    delete from crm_data_student_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.youwin.yws.models.crm.CrmDataStudentDetailExample" >
    <!--
      WARNING - @mbggenerated
    -->
    delete from crm_data_student_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.youwin.yws.models.crm.CrmDataStudentDetail" >
    <!--
      WARNING - @mbggenerated
    -->
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into crm_data_student_detail (leads_student_id, customer_student_id, 
      subject_id, grade_id, belong_school_id, 
      number, name, phone, 
      mother_name, mother_phone, father_name, 
      father_phone, school_name, media_channel, 
      media_channel_detail, area_code, gender, 
      age, customer_requirement, type, 
      state, create_at, create_by, 
      update_at, update_by, is_deleted, 
      ext)
    values (#{leadsStudentId,jdbcType=BIGINT}, #{customerStudentId,jdbcType=BIGINT}, 
      #{subjectId,jdbcType=INTEGER}, #{gradeId,jdbcType=INTEGER}, #{belongSchoolId,jdbcType=BIGINT}, 
      #{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{motherName,jdbcType=VARCHAR}, #{motherPhone,jdbcType=VARCHAR}, #{fatherName,jdbcType=VARCHAR}, 
      #{fatherPhone,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}, #{mediaChannel,jdbcType=TINYINT}, 
      #{mediaChannelDetail,jdbcType=TINYINT}, #{areaCode,jdbcType=INTEGER}, #{gender,jdbcType=BIT}, 
      #{age,jdbcType=TINYINT}, #{customerRequirement,jdbcType=VARCHAR}, #{type,jdbcType=BIT}, 
      #{state,jdbcType=TINYINT}, #{createAt,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{isDeleted,jdbcType=BIT}, 
      #{ext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.youwin.yws.models.crm.CrmDataStudentDetail" >
    <!--
      WARNING - @mbggenerated
    -->
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into crm_data_student_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="leadsStudentId != null" >
        leads_student_id,
      </if>
      <if test="customerStudentId != null" >
        customer_student_id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="gradeId != null" >
        grade_id,
      </if>
      <if test="belongSchoolId != null" >
        belong_school_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="motherName != null" >
        mother_name,
      </if>
      <if test="motherPhone != null" >
        mother_phone,
      </if>
      <if test="fatherName != null" >
        father_name,
      </if>
      <if test="fatherPhone != null" >
        father_phone,
      </if>
      <if test="schoolName != null" >
        school_name,
      </if>
      <if test="mediaChannel != null" >
        media_channel,
      </if>
      <if test="mediaChannelDetail != null" >
        media_channel_detail,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="customerRequirement != null" >
        customer_requirement,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="ext != null" >
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="leadsStudentId != null" >
        #{leadsStudentId,jdbcType=BIGINT},
      </if>
      <if test="customerStudentId != null" >
        #{customerStudentId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="belongSchoolId != null" >
        #{belongSchoolId,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="motherName != null" >
        #{motherName,jdbcType=VARCHAR},
      </if>
      <if test="motherPhone != null" >
        #{motherPhone,jdbcType=VARCHAR},
      </if>
      <if test="fatherName != null" >
        #{fatherName,jdbcType=VARCHAR},
      </if>
      <if test="fatherPhone != null" >
        #{fatherPhone,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null" >
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="mediaChannel != null" >
        #{mediaChannel,jdbcType=TINYINT},
      </if>
      <if test="mediaChannelDetail != null" >
        #{mediaChannelDetail,jdbcType=TINYINT},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=BIT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=TINYINT},
      </if>
      <if test="customerRequirement != null" >
        #{customerRequirement,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.youwin.yws.models.crm.CrmDataStudentDetailExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
    -->
    select count(*) from crm_data_student_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update crm_data_student_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.leadsStudentId != null" >
        leads_student_id = #{record.leadsStudentId,jdbcType=BIGINT},
      </if>
      <if test="record.customerStudentId != null" >
        customer_student_id = #{record.customerStudentId,jdbcType=BIGINT},
      </if>
      <if test="record.subjectId != null" >
        subject_id = #{record.subjectId,jdbcType=INTEGER},
      </if>
      <if test="record.gradeId != null" >
        grade_id = #{record.gradeId,jdbcType=INTEGER},
      </if>
      <if test="record.belongSchoolId != null" >
        belong_school_id = #{record.belongSchoolId,jdbcType=BIGINT},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.motherName != null" >
        mother_name = #{record.motherName,jdbcType=VARCHAR},
      </if>
      <if test="record.motherPhone != null" >
        mother_phone = #{record.motherPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.fatherName != null" >
        father_name = #{record.fatherName,jdbcType=VARCHAR},
      </if>
      <if test="record.fatherPhone != null" >
        father_phone = #{record.fatherPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolName != null" >
        school_name = #{record.schoolName,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaChannel != null" >
        media_channel = #{record.mediaChannel,jdbcType=TINYINT},
      </if>
      <if test="record.mediaChannelDetail != null" >
        media_channel_detail = #{record.mediaChannelDetail,jdbcType=TINYINT},
      </if>
      <if test="record.areaCode != null" >
        area_code = #{record.areaCode,jdbcType=INTEGER},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=BIT},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=TINYINT},
      </if>
      <if test="record.customerRequirement != null" >
        customer_requirement = #{record.customerRequirement,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=BIT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.updateAt != null" >
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.ext != null" >
        ext = #{record.ext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update crm_data_student_detail
    set id = #{record.id,jdbcType=BIGINT},
      leads_student_id = #{record.leadsStudentId,jdbcType=BIGINT},
      customer_student_id = #{record.customerStudentId,jdbcType=BIGINT},
      subject_id = #{record.subjectId,jdbcType=INTEGER},
      grade_id = #{record.gradeId,jdbcType=INTEGER},
      belong_school_id = #{record.belongSchoolId,jdbcType=BIGINT},
      number = #{record.number,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      mother_name = #{record.motherName,jdbcType=VARCHAR},
      mother_phone = #{record.motherPhone,jdbcType=VARCHAR},
      father_name = #{record.fatherName,jdbcType=VARCHAR},
      father_phone = #{record.fatherPhone,jdbcType=VARCHAR},
      school_name = #{record.schoolName,jdbcType=VARCHAR},
      media_channel = #{record.mediaChannel,jdbcType=TINYINT},
      media_channel_detail = #{record.mediaChannelDetail,jdbcType=TINYINT},
      area_code = #{record.areaCode,jdbcType=INTEGER},
      gender = #{record.gender,jdbcType=BIT},
      age = #{record.age,jdbcType=TINYINT},
      customer_requirement = #{record.customerRequirement,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=BIT},
      state = #{record.state,jdbcType=TINYINT},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=BIGINT},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      ext = #{record.ext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.youwin.yws.models.crm.CrmDataStudentDetail" >
    <!--
      WARNING - @mbggenerated
    -->
    update crm_data_student_detail
    <set >
      <if test="leadsStudentId != null" >
        leads_student_id = #{leadsStudentId,jdbcType=BIGINT},
      </if>
      <if test="customerStudentId != null" >
        customer_student_id = #{customerStudentId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId,jdbcType=INTEGER},
      </if>
      <if test="belongSchoolId != null" >
        belong_school_id = #{belongSchoolId,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="motherName != null" >
        mother_name = #{motherName,jdbcType=VARCHAR},
      </if>
      <if test="motherPhone != null" >
        mother_phone = #{motherPhone,jdbcType=VARCHAR},
      </if>
      <if test="fatherName != null" >
        father_name = #{fatherName,jdbcType=VARCHAR},
      </if>
      <if test="fatherPhone != null" >
        father_phone = #{fatherPhone,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null" >
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="mediaChannel != null" >
        media_channel = #{mediaChannel,jdbcType=TINYINT},
      </if>
      <if test="mediaChannelDetail != null" >
        media_channel_detail = #{mediaChannelDetail,jdbcType=TINYINT},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=BIT},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=TINYINT},
      </if>
      <if test="customerRequirement != null" >
        customer_requirement = #{customerRequirement,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youwin.yws.models.crm.CrmDataStudentDetail" >
    <!--
      WARNING - @mbggenerated
    -->
    update crm_data_student_detail
    set leads_student_id = #{leadsStudentId,jdbcType=BIGINT},
      customer_student_id = #{customerStudentId,jdbcType=BIGINT},
      subject_id = #{subjectId,jdbcType=INTEGER},
      grade_id = #{gradeId,jdbcType=INTEGER},
      belong_school_id = #{belongSchoolId,jdbcType=BIGINT},
      number = #{number,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mother_name = #{motherName,jdbcType=VARCHAR},
      mother_phone = #{motherPhone,jdbcType=VARCHAR},
      father_name = #{fatherName,jdbcType=VARCHAR},
      father_phone = #{fatherPhone,jdbcType=VARCHAR},
      school_name = #{schoolName,jdbcType=VARCHAR},
      media_channel = #{mediaChannel,jdbcType=TINYINT},
      media_channel_detail = #{mediaChannelDetail,jdbcType=TINYINT},
      area_code = #{areaCode,jdbcType=INTEGER},
      gender = #{gender,jdbcType=BIT},
      age = #{age,jdbcType=TINYINT},
      customer_requirement = #{customerRequirement,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      state = #{state,jdbcType=TINYINT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      ext = #{ext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <cache >
    <!--
      WARNING - @mbggenerated
    -->
  </cache>
</mapper>